.product-image-desktop {
    display: none;
}

.product-image-mobile {
    display: block;
    max-width: 350px;
    border-radius: 15px 15px 0 0;
}

.container {
    display: flex;
    min-height: 100vh;
    padding: 10px
}

.card {
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 20px;
}

.product-info {
    max-width: 300px;
}

.product-name {
    max-width: 240px;
}