@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

:root {
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    background-color: var(--cream);
}

.attribution {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.product-image-desktop {
    border-radius: 15px 0 0 15px;
    max-width: 350px;
    padding-right: 20px;
}

.product-image-mobile {
    display: none;
}

.container {
    display: flex;
    min-height: 100vh;
    padding: 10px
}

.product-info {
    width: 350px;
    padding: 25px;
}

.card {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    border-radius: 15px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-type {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
}

.product-name {
    font-family: 'Fraunces', serif;
    max-width: 200px;
    font-weight: 700;
    font-size: 2rem;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    max-width: 350px;
    text-align: start;
}

.price-container {
    display: flex;
    flex-direction: row;
}

.sales-price {
    color: var(--dark-cyan);
}

.normal-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding-left: 20px;
    padding-top: 16px;
    color: var(--dark-grayish-blue);
}

.cart-button {
    background-color: var(--dark-cyan);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.cart-button :hover {
    background-color: var(--very-dark-blue)
}